@import "../../app.scss";

.navbar {
	@include themify($themes) {
		display: flex;
		align-items: center;
		padding: 0.6rem 1.2rem;
		justify-content: space-between;
		height: 3.1rem;
		border-bottom: 1px solid themed("border");
		position: sticky;
		top: 0;
		background-color: themed("bg");
		color: themed("textColor");
		z-index: 999;

		.left {
			display: flex;
			align-items: center;
			gap: 1.8rem;

			.navbar-left-link {
				text-decoration: none;

				span {
					font-weight: bold;
					font-size: 1.2rem;
					color: themed("logo");
				}
			}

			.search {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				border: 1px solid themed("border");
				border-radius: 0.3rem;
				padding: 0.3rem;

				input {
					border: none;
					width: 31rem;
					background-color: transparent;
					color: themed("textColor");

					@include mobile{
						display: none;

					}

					@include tablet{
						width: 200px;
					}
				}
			}
		}
		.right {
			display: flex;
			align-items: center;
			gap: 1.2rem;

			@include mobile{
				display: none;
			}

			.user {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				font-weight: 500;

				@include tablet{
					display: none;
				}

				img {
					width: 1.875rem;
					height: 1.875rem;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}
	}
}
